<md-content class="md-padding" layout-wrap>
    <form ng-submit="vm.submit()" name="userform">
        <md-card>
            <md-toolbar class="grey">
                <h1 class="md-toolbar-tools" translate="users.EDIT_USER">Editar Usuário</h1>
            </md-toolbar>
            <md-card-content>
                <!-- USERS FIELDS -->
                <div ng-include=" 'users/views/_fields.html' "></div>
            </md-card-content>
            <div class="md-actions md-padding" style="padding-top: 0px" layout="row" layout-align="start center">
               <md-button class="md-raised md-primary" style="margin-top: 0">Salvar</md-button>
            </div>
        </md-card>
    </form>
</md-content>