<h1 class="text-white md-display-4 animated fadeInUp" style="margin-bottom: 10px">
    <i class="fa fa-check-circle-o"></i>
</h1>
<h3 class="md-display-1 text-white animated fadeInUp">
    <span translate="auth.confirmation.CONGRATULATIONS">Parabéns!</span>
</h3>
<div class="text-white animated fadeInUp" style="text-align: center">
    <p translate="auth.confirmation.YOU_SIGNED_UP_SUCCESSFULLY"></p>
    <p translate="auth.confirmation.WE_SENT_AN_EMAIL"></p>
    <md-button ui-sref="app.auth.login" class="md-raised">
        <md-icon md-svg-icon="navigation:arrow_back" aria-label="Resend Icon"></md-icon>
        <span translate="auth.SIGNIN">Voltar</span>
    </md-button>
    <md-button ui-sref="app.auth.confirmation" class="md-raised md-accent">
        <md-icon md-svg-icon="av:replay" aria-label="Resend Icon"></md-icon>
        <span translate="auth.RESEND">Reenviar</span>
    </md-button>
</div>